 * {
     margin: 0;
     padding: 0;
 }

 .parent {

     background-color: gray;
     margin: 50px;
     position: relative;
 }

 .block {
     
     width:100px ;
height:100px ;
   

 }
   
 header {
    background-color: antiquewhite;
    margin: top 50px; ;
     position: sticky;
     top: 0;
     margin-top: 50;
     height: 50px;
     z-index: 20;

 }
 .blue {
     background-color: blue;



 }

 /*.red {
     background-color: red;
     position: relative;
     left: 125px;
     bottom: 50px;

 }*/

 .red {
     background-color: red;
     position: absolute;
     bottom: 10px;
     right: 10px;
 }

 .yellow {
     background-color: yellow;
     position: fixed;
     bottom: 10px;
     left: 10px;
 }