.contairner {



    height: 80px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;


}


.menu-item {
    
    background-color: rgb(0, 255, 94);
    

}