body {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.block {
    height: 300px;
    flex-grow: 1;
    flex-basis: 0;
    margin: 5px;

}

.block_red {
    background-color: red;
}

.block_green {
    background-color: green;

}

.block_blue {
    background-color: blue;

}

.block_yellow {
    background-color: yellow;
}

.block_black {
    background-color: black;
}